@media screen and (max-width: 1200px) {
    #hryvna {
        width: 10%;
    }
    
    .to {
        top: 41.1%;
    }

    #exchange {
        width: 10%;
    }
}

@media screen and (max-width: 960px) {
    .to {
        position: absolute;
        top: 41.1%;
        left: 47.3%;
    }

    #btn {
        position: absolute;
        left: 47.3%;
    }

    .table {
        left: 43%;
    }

}

@media screen and (max-width: 840px) {
    #hryvna {
        left: 37%;
        width: 10%;
    }
    
    .to {
        position: absolute;
        left: 47.3%;
    }

    #exchange {
        left: 63%;
        width: 10%;
    }

}

@media screen and (max-width: 661px) {
    #hryvna {
        left: 30%;
        width: 15%;
    }
    
    .to {
        position: absolute;
        left: 47%;
    }

    #exchange {
        left: 70%;
        width: 15%;
    }

    .table {
        left: 39.5%;
    }
}

@media screen and (max-width: 414px) {
    #hryvna {
        left: 25%;
        width: 20%;
    }
    
    .to {
        position: absolute;
        left: 44%;
        top: 41.2%;
    }

    #exchange {
        left: 75%;
        width: 20%;
    }

    #btn {
        position: absolute;
        top: calc(50%);
        left: 44%;
    }

    .table {
        left: 33%;
    }

}

body {
    background-color: black;
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    position: relativ;
}

.title {
    color: white;
    font-size: 18px;
    font-style: initial;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hryvna {
    position: absolute;
    top: calc(43%);
    left: 40%;
    transform: translateX(-50%);
}

.to {
    color: white;
    position: absolute;
    top: 40.5%;
    left: 48%;
    transform: translateX( -50%, -50%);
}



#exchange {
    position: absolute;
    top: calc(43%);
    left: 60%;
    transform: translateX(-50%);
}

#btn {
    position: absolute;
    top: calc(50%);
    left: 48%;
}

.table {
    color: white;
    top:70%;
    left: 45%;
    position: absolute;
}

.table table {
    justify-content: center;
    align-items: center;
}

td {
    color: white;
    padding: 8px;
    padding: 5px;
    font-size: 16px;
    font-style: initial;
}
